<h1>Welcome to <%= t :product_name -%>!</h1>

<% if current_user %>
  <%= render :partial => "dashboard_signed_in" -%>

  <%= render partial: "accounts/accounts_selector" -%>
  <div class="clear"></div>

<%- else -%>
  <%= render partial: "shared/signin_links" -%>
<%- end -%>

