<% if current_user %>
  <%= render :partial => "dashboard_signed_in" -%>

  <div class="clear"></div>

<%- else -%>
  <%= render partial: "dashboard_signed_out" -%>
  <%= render partial: "shared/signin_links" -%>
<%- end -%>

