<h1>Welcome to the app!</h1>

<% if current_user %>
  <%= render :partial => "dashboard_signed_in" -%>
<%- else -%>
  <%= render partial: "shared/signin_links" -%>
<%- end -%>

<ul class="menu">
  <% if current_user %>
    <li><%= link_to("Manage Accounts", accounts_path) -%></li>
  <%- end -%>

  <li>Switch to <%= use_mobile_browsing?() ?  "Desktop" : "Mobile" -%> browsing experiance</li>
</ul>
