$header_footer_margin: 2em;

header {
	margin-top: $header_footer_margin;
}

footer {
	margin-top: $header_footer_margin;
}

.tips {
  background-color: $tip_background_color;
  border: thin black solid;

  h1 {
  	font-size: 1.25em;
  }
}

ul .menu {

}

.my_container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

a {
  font-size: 125%;
}

.devise_menu {
  margin-top: 2em;
}