.clear {
  clear: both;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  line-height: 18px;
  color: #808080;
}


header:after {
  clear: all;
}

.additional_info {
  color: gray;
  font-size: 90%;
  font-style: italic;
}

div.accounts div.account {

/*
  nth-of-type(odd) {
    background:#e5ecf9; from BlueprintCSS
  }
*/
}
