<h1 class="ui-title" role="heading">
	<span class="dashboard_link">
		<%= link_to( t(:product_name), dashboard_path ) -%>
	</span>
	<span class="page_link">
	<!-- TODO: fix me, does not display on iPhone (too big??!) -->
		<%= page_name -%>
	</span>
</h1>
