<p>
<% what_type = use_mobile_browsing?() ?  'desktop' : 'mobile' -%>

<%= link_to "Switch to #{what_type} browsing experience",
  switch_browsing_type_settings_path(browsing_type: what_type),
  "rel" => "external", class: "btn"
-%>
</p>

<details>
<summary>&copy; 2011...</summary>
  <p><%= t :product_name -%> is a <a href="http://www.wilcoxd.com">Wilcox Development Solutions (WDS)</a> ditty, <br />
  Questions? Comments? <%= link_to "Contact us, at Wilcox Development Solutions", "http://wilcoxd.com/contactus.html" -%></p>
</details>
