<p><%= t :product_name -%> is a <a href="http://www.wilcoxd.com">Wilcox Development Solutions</a> ditty, &copy; 2011.<br />
Questions? Comments? <%= link_to "Contact us, at Wilcox Development Solutions", "http://wilcoxd.com/contactus.html" -%></p>
