<h2>My Settings</h2>

<div class="settings">

<h3>API Values</h3>
<p>Your auth_token is <code><%= current_user.authentication_token -%></code>. Use this for
<%= link_to "Interacting with the API", pages_api_path -%></p>