<p>Web banking is awesome - I can check my balance every day, any time I want. The drawback to web banking is the same we have with monthly statements: <em>Knowing that a check has done out (or needs to go out), but the bank doesn't know this yet</em></p>

<p>So you look at your bank balance online, except you forget about the check you wrote a week ago. You think you have more money than you actually do!</p>

<p>The solution is simple: use <%= t :product_name -%> to keep track of all your purchases and sent checks. You can even access <%= t :product_name -%> on your iPhone or Android phone, to make it <em>even easier</em> to keep track of your purchases.</p>