<h2>(More) Coming soon!</h2>
<p>More detailed docs on the API are coming soon, however there are some things you can try now:</p>
<ol>
<li>add <code>.json</code> to the end of any URL and you should see JSON back! <em>Pages under the <code>/pages/</code>URL excluded</em></li>
<li>You should also be able to get <code>jsonp</code> back too, by just adding <code>.jsonp</code> and a callback parameter! 
(May require setting the dataType in a jQuery request)</li>
<li>
  <p>The authentication is token authenticatable. You should be able to use your Token to gain access into the system, like so:</p>
  <p><%= dashboard_path(auth_token: 112345) -%></p>
  <p>A user's Auth Token can be found on the <%= link_to "Manage Settings", my_settings_path -%> page</p>
</li>
</ol>

<p>I am a big fan of REST, particularly web apps returning the correct representation of the
resource for the format requested. For example, the dashboard page (<code>/</code>) returns
the same information in JSON as it does in its HTML version!</p>

<p><em>Oh really?!</em>, you say?. <strong>Yes</strong>, I say. For further proof check out a
blog entry I wrote May 22, 2011: <%= link_to "Rails, REST and .js (TL;DR: We're doing it wrong)", "http://blog.wilcoxd.com/blog/2011/05/22/rails-rest-and-js-tldr-were-doing-it-wrong/" -%></p>

<!-- TODO: write MORE!! -->
