
$header_footer_margin: 2em;

header {
	margin-top: $header_footer_margin;
	height:  $header_footer_margin;
}

.my_container {
  min-width: 300px;
  padding-left: 2em;
}

.tips {
  background-color: $tip_background_color;
  border: $border_style;

  h1 {
  	font-size: 1.25em;
  }
}

ul.menu {
  list-style-type: none;
  margin: auto;
  background-color: $menu_background_color;
  min-height: 2em;
  
  li {
    float: left;
    padding-left: 1.25em;
  }
}

#main {
}

details table {
  margin-left: 3em;
  margin-bottom: 3em;
}

div.account {

  margin-bottom: 2em;

  details p {
    margin: 0;

  }

}
/*footer {
	margin-top: $header_footer_margin;
	clear: both;
}


footer {
  position: fixed;
  top: 85%;
}
*/