
$header_footer_margin: 2em;

header {
	margin-top: $header_footer_margin;
}

footer {
	margin-top: $header_footer_margin;
}

.tips {
  background-color: $tip_background_color;
  border: $border_style;

  h1 {
  	font-size: 1.25em;
  }
}
