<h1>Editing transaction</h1>

<%= render 'form' %>

<%= link_to 'Show', account_transaction_path(current_account, current_transaction) %> |
<%= link_to 'Back', account_transactions_path(current_account) %>
