<div class="accounts">
  <h2>Your Accounts</h2>
  <ul class="accounts" data-role="listview">
  <% current_user.accounts.each do |curr_account| %>
    <li><%= link_to Present(curr_account).name_and_info, curr_account, class: "normal" -%></li>
  <%- end -%>
  </ul>
</div>
